@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
    margin: 1.5em;
    font-family: 'Poppins', sans-serif;
    color: black;
    box-sizing: border-box;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.btn {
    background-color: rgb(7, 53, 7);
    color: white;
    border: none;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo{
        text-transform: uppercase;
        display: inline-flex;
        align-items: center;
        column-gap: .5rem;
        transition: .3s;
    }

    .ri-plant-line{
        font-size: 1.15rem;
    }

    &__menu{
       display: none; 
    }

    &__list{
        list-style-type: none; 
    }

    &__btn {
        display: flex;
        align-items: center;
        font-size: 1.15rem;
    }

    &__toggle {
        display: flex;
        align-items: center;
        padding-left: .8em;
    }
}

.hero {
    padding: 2em 0;

    &__img {
        width: 100%;
    }

    &__social {
        display: flex;
        position: absolute;
        right: -1em;
        top: 15em;
        transform: rotate(90deg);
        font-size: .8rem;

        &--links {
            padding-top: .2em;
      
        }
    }

    &__desc {
    }

    &__btn {
        display: inline-block;
        padding: 1rem 1.75rem;
        border-radius: .5rem;
        transition: .3s;
        font-weight: 500;
    }
}

.about {
    margin-bottom: 3em;
}

.about__details {
    display: grid;
    row-gap: 1rem;
    margin-bottom: 2.5rem;
}

.about__details-description {
    display: inline-flex;
    column-gap: .5rem;
    font-size: .9rem;
}

.about__details-icon {
    font-size: 1.1rem;
    color: rgb(7, 53, 7);
    margin-top: .13rem;
}

.steps {
    margin-top: 8em;
    background-color: hsl(152, 24%, 32%);
    padding: 3em 2em 1em;
    border-radius: 1em;
    
    &__header {
        color: #FFF;
        text-align: center;
        font-weight: 500;
    }

    &__container {
        display: grid;
        row-gap: 2rem;
    }

    &__card {
        background-color: #FFF;
        padding: 2.5rem 3rem 2rem 1.5rem;
        border-radius: 1rem;
    
        &-number {
            display: inline-block;
            color: #FFF;
            background-color: hsl(152, 24%, 28%);
            padding: .5rem .75rem;
            border-radius: .25rem;
            font-size: 1.25rem;
            margin-bottom: 1.5em;
            transition: .3s;
        }

        &-title {
            font-size: 1rem;
            margin-bottom: .5em;
        }

        &-description {
             font-size: .815rem;
        }
    }
}

.product {
    margin-top: 8em;

    &__header {
        text-align: center;
    }


    &__container{
        display: grid;
        position: relative;
        padding: 3rem 0;
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem 3rem;
      }

    &__card{
        display: grid;
        position: relative;
      }

    &__img{
        position: relative;
        width: 120px;
        justify-self: center;
        margin-bottom: .75em;
        transition: .3s;
      }
      
}

button {
    display: inline-block;
    background-color:hsl(152, 24%, 32%);
    color: #FFF;
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    font-weight: 500;
    transition: .3s;
}

.button--flex{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
  }


.product__button{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: hsl(152, 24%, 32%);
    color: #FFF;
    padding: .25rem;
    border-radius: .35rem;
    font-size: 1.15rem;
  }


.question {
    margin-top: 6em;
    background-color: hsl(152, 24%, 92%);
    padding-top: 3em;
    border-radius: .5rem;

    &__title {
        text-align: center;
    }
}

.question__container{
    gap: 1.5rem;
    padding: 1.5rem 0;
  }

  .questions__item {
      background-color: #FFF;
      margin: 2em 1em;
      border-radius: .3em;
      padding: .6em .9em;
  }

.info{
    margin-top: 5em;

    &__container {
        margin-bottom: 3em;
    }

    &__subhead {
        margin: 1.5em 0 .2em 0;
    }

    &__contact {
        font-weight: 550;
        display: inline-block;
        margin-top: 1em;
    }

}


.contact {
    &__inputs {
        display: grid;
        row-gap: 2rem;
        margin-bottom: 2.5em;
    }

    &__content {
        position: relative;
        height: 3rem;
        border-bottom: 1px solid hsl(152, 4%, 55%);
    }

    &__input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color:  hsl(152, 4%, 35%);
        padding: 1em 1em 1em 0;
        background: none;
        border: none;
        outline: none;
        z-index: 1;
     }

    &__label{
        position: absolute;
        top: .75rem;
        width: 100%;
        font-size: .815rem;
        color: hsl(152, 4%, 55%);
        transition: .3s;
    }

    &__area {
        height: 7em;

        textarea {
            resize: none;
        }
    }

    &__input:focus + &__label{
        top: -.75rem;
        left: 0;
        font-size: .75rem;
        z-index: 10;
      }

}

.contact__input:not(:placeholder-shown).contact__input:not(:focus) + .contact__label{
    top: -.75rem;
    font-size: .75rem;
    z-index: 10;
  }