@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  margin: 1.5em;
  font-family: 'Poppins', sans-serif;
  color: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.btn {
  background-color: #073507;
  color: white;
  border: none;
}

.button__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-top: .1em;
  -webkit-transition: .3s;
  transition: .3s;
}

.button:hover .button__icon {
  -webkit-transform: translateX(0.25rem);
          transform: translateX(0.25rem);
}

.nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo {
  text-transform: uppercase;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: .5rem;
          column-gap: .5rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav__logo-icon {
  font-size: 1.15rem;
  color: #3e6553;
}

.nav__menu {
  position: fixed;
  right: 0;
  top: 0;
  background: white;
  -webkit-box-shadow: -2px 0 4px rgba(29, 47, 39, 0.1);
          box-shadow: -2px 0 4px rgba(29, 47, 39, 0.1);
  height: 100vh;
  width: 80%;
  z-index: 999;
  text-transform: uppercase;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  border-radius: 1rem 0 0 1rem;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

.nav__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.5em;
}

.nav__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: .8em;
          column-gap: .8em;
  font-size: 1.15rem;
}

.nav__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.nav__close {
  font-size: 1.15rem;
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  cursor: pointer;
}

.show-menu {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.hero {
  padding: 2em 0;
}

.hero__img {
  width: 100%;
}

.hero__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: -1em;
  top: 15em;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: .8rem;
}

.hero__social--links {
  padding-top: .2em;
}

.hero__btn {
  display: inline-block;
  padding: 1rem 1.75rem;
  border-radius: .5rem;
  -webkit-transition: .3s;
  transition: .3s;
  font-weight: 500;
  background-color: #3e6553;
}

.about {
  margin-bottom: 3em;
}

.about__details {
  display: -ms-grid;
  display: grid;
  row-gap: 1rem;
  margin-bottom: 2.5rem;
}

.about__details-description {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-column-gap: .5rem;
          column-gap: .5rem;
  font-size: .9rem;
}

.about__details-icon {
  font-size: 1.1rem;
  color: #073507;
  margin-top: .13rem;
}

.steps {
  margin-top: 8em;
  background-color: #3e6553;
  padding: 3em 2em 1em;
  border-radius: 1em;
}

.steps__header {
  color: #FFF;
  text-align: center;
  font-weight: 500;
}

.steps__container {
  display: -ms-grid;
  display: grid;
  row-gap: 2rem;
}

.steps__card {
  background-color: #FFF;
  padding: 2.5rem 3rem 2rem 1.5rem;
  border-radius: 1rem;
}

.steps__card-number {
  display: inline-block;
  color: #FFF;
  background-color: #365949;
  padding: .5rem .75rem;
  border-radius: .25rem;
  font-size: 1.25rem;
  margin-bottom: 1.5em;
  -webkit-transition: .3s;
  transition: .3s;
}

.steps__card-title {
  font-size: 1rem;
  margin-bottom: .5em;
}

.steps__card-description {
  font-size: .815rem;
}

.product {
  margin-top: 8em;
}

.product__header {
  text-align: center;
}

.product__container {
  display: -ms-grid;
  display: grid;
  position: relative;
  padding: 3rem 0;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem 3rem;
}

.product__card {
  display: -ms-grid;
  display: grid;
  position: relative;
}

.product__img {
  position: relative;
  width: 120px;
  margin-bottom: .75em;
  -webkit-transition: .3s;
  transition: .3s;
}

.product__title {
  text-align: center;
}

button {
  display: inline-block;
  background-color: #3e6553;
  color: #FFF;
  padding: 1rem 1.75rem;
  border-radius: .5rem;
  font-weight: 500;
  -webkit-transition: .3s;
  transition: .3s;
}

.button--flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: .5rem;
          column-gap: .5rem;
}

.product__button {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #3e6553;
  color: #FFF;
  padding: .25rem;
  border-radius: .35rem;
  font-size: 1.15rem;
}

.question {
  margin-top: 6em;
  background-color: #e6efeb;
  padding-top: 3em;
  border-radius: .5rem;
}

.question__title {
  text-align: center;
}

.question__container {
  gap: 1.5rem;
  padding: 1.5rem 0;
}

.questions__item {
  background-color: #FFF;
  margin: 2em 1em;
  border-radius: .3em;
  padding: .6em .9em;
}

.info {
  margin-top: 5em;
}

.info__container {
  margin-bottom: 3em;
}

.info__subhead {
  margin: 1.5em 0 .2em 0;
}

.info__contact {
  font-weight: 550;
  display: inline-block;
  margin-top: 1em;
}

.contact__inputs {
  display: -ms-grid;
  display: grid;
  row-gap: 2rem;
  margin-bottom: 2.5em;
}

.contact__content {
  position: relative;
  height: 3rem;
  border-bottom: 1px solid #88918d;
}

.contact__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #565d59;
  padding: 1em 1em 1em 0;
  background: none;
  border: none;
  outline: none;
  z-index: 1;
}

.contact__label {
  position: absolute;
  top: .75rem;
  width: 50%;
  font-size: .815rem;
  color: #88918d;
  -webkit-transition: .3s;
  transition: .3s;
  overflow: hidden;
}

.contact__area {
  height: 7em;
}

.contact__area textarea {
  resize: none;
}

.contact__input:focus + .contact__label {
  top: -.75rem;
  left: 0;
  font-size: .75rem;
  z-index: 10;
}

.contact__input:not(:placeholder-shown).contact__input:not(:focus) + .contact__label {
  top: -.75rem;
  font-size: .75rem;
  z-index: 10;
}

.footer {
  margin-top: 7em;
}

.footer__logo {
  font-size: 1.1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: .3rem;
          column-gap: .3rem;
  text-transform: uppercase;
  font-weight: 550;
  letter-spacing: -1px;
  margin-bottom: 2.5em;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer__logo-icon {
  font-size: 1.2rem;
  color: #3e6553;
}

.footer__subscribe {
  background-color: #a0c5b4;
  padding: .75em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: .5em;
}

.footer__input {
  width: 65%;
  padding: 0 .5rem;
  background: none;
  border: none;
  outline: none;
  color: #565d59;
  border-bottom: 1px solid #88918d;
}

.footer__button {
  padding: 1em;
}

.footer__data {
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  row-gap: .75rem;
  padding-left: 0;
}

.footer__information {
  font-size: .815rem;
}

.footer__social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-column-gap: .75em;
          column-gap: .75em;
}

.footer__social-link {
  font-size: 1rem;
  color: #565d59;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer__social-link:hover {
  -webkit-transform: translateY(-0.25rem);
          transform: translateY(-0.25rem);
}
/*# sourceMappingURL=main.css.map */