@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  margin: 1.5em;
  font-family: 'Poppins', sans-serif;
  color: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.btn {
  background-color: #073507;
  color: white;
  border: none;
}

.nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo {
  text-transform: uppercase;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: .5rem;
          column-gap: .5rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav .ri-plant-line {
  font-size: 1.15rem;
}

.nav__menu {
  display: none;
}

.nav__list {
  list-style-type: none;
}

.nav__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.15rem;
}

.nav__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: .8em;
}

.hero {
  padding: 2em 0;
}

.hero__img {
  width: 100%;
}

.hero__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: -1em;
  top: 15em;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: .8rem;
}

.hero__social--links {
  padding-top: .2em;
}

.hero__btn {
  display: inline-block;
  padding: 1rem 1.75rem;
  border-radius: .5rem;
  -webkit-transition: .3s;
  transition: .3s;
  font-weight: 500;
}

.about {
  margin-bottom: 3em;
}

.about__details {
  display: -ms-grid;
  display: grid;
  row-gap: 1rem;
  margin-bottom: 2.5rem;
}

.about__details-description {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-column-gap: .5rem;
          column-gap: .5rem;
  font-size: .9rem;
}

.about__details-icon {
  font-size: 1.1rem;
  color: #073507;
  margin-top: .13rem;
}

.steps {
  margin-top: 8em;
  background-color: #3e6553;
  padding: 3em 2em 1em;
  border-radius: 1em;
}

.steps__header {
  color: #FFF;
  text-align: center;
  font-weight: 500;
}

.steps__container {
  display: -ms-grid;
  display: grid;
  row-gap: 2rem;
}

.steps__card {
  background-color: #FFF;
  padding: 2.5rem 3rem 2rem 1.5rem;
  border-radius: 1rem;
}

.steps__card-number {
  display: inline-block;
  color: #FFF;
  background-color: #365949;
  padding: .5rem .75rem;
  border-radius: .25rem;
  font-size: 1.25rem;
  margin-bottom: 1.5em;
  -webkit-transition: .3s;
  transition: .3s;
}

.steps__card-title {
  font-size: 1rem;
  margin-bottom: .5em;
}

.steps__card-description {
  font-size: .815rem;
}

.product {
  margin-top: 8em;
}

.product__header {
  text-align: center;
}

.product__container {
  padding: 3rem 0;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem 3rem;
}

.product__card {
  display: -ms-grid;
  display: grid;
  position: relative;
}

.product__img {
  position: relative;
  width: 120px;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: var(--mb-0-75);
  -webkit-transition: .3s;
  transition: .3s;
}
/*# sourceMappingURL=main.css.map */